$mainHeight: 92vh;
$mobileHeight: 60vh;

.landing {
  .mainJumbotron {
    height: $mainHeight;
    position: relative;
    @media screen and (max-width: 650px) {
      height: $mobileHeight;
    }
  }

  .mainJumbotron::before {
    height: $mainHeight;
    position: absolute;
    background: url('https://cdn.citylab.com/media/img/citylab/2016/04/shutterstock_61884112/facebook.jpg?1494533575') no-repeat center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
    content: '';
    @media screen and (max-width: 650px) {
      height: $mobileHeight;
    }
  }
}