$mainHeight: 92vh;
$mobileHeight: 88vh;

.landing {
  .mainJumbotron {
    height: $mainHeight;
    position: relative;
    @media screen and (max-width: 650px) {
      height: $mobileHeight;
    }
  }

  .mainJumbotron::before {
    height: $mainHeight;
    position: absolute;
    background: url('https://s3.amazonaws.com/solarjobsearch/mainSplash.jpg') no-repeat center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.9;
    content: '';
    @media screen and (max-width: 650px) {
      height: $mobileHeight;
    }
  }
}