.landing {
  .newsFeedAndBlurbGrid {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    color: #f2f2f2;
    #newsFeedAndBlurbRow {
      // flex method: https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
      display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      padding: 0;
      margin: 0;
      $minHeight: 575px;
      $topBottomBorderColor: #38ad73;

      h1 {
        margin: 10px 0;
        text-align: center;
      }

      .learnMore {
        min-height: $minHeight; //match
        font-size: 1.2em;
        text-align: center;
        background-color: #194d33;
        border-top: 8px solid $topBottomBorderColor;
        border-bottom: 8px solid $topBottomBorderColor;
        border-right: 8px solid #669900;
        p {
          margin: 0 auto;
          width: 80%;
        }

        Button {
          margin: 10px 0;
          width: 200px;
        }

      }

      .rssFeed {
        min-height: $minHeight; //match
        background-color: #194d33;
        border-top: 8px solid $topBottomBorderColor;
        border-bottom: 8px solid $topBottomBorderColor;
        border-left: 8px solid #669900;
        #newsAPICredit {
          margin-top: -5px;
          right: 0;
        }

        #articleContainer {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;
          min-height: 50px;

          #articleImage{
            position: absolute;
            width: 10%;
            height: 50px;
            margin: 0 2%;

            img {
              display: block;
              margin: 0 auto;
              height: 100%;
            }
          }

          #articleContents {
            margin-left: 14%;
            a {
              font-size: 1.2em;
            }
          }
        }
      }
    }
  }
}