$animationSpeed: 2s;
$inputHeight: 44px;
$geoHeight: 110px;
$mainHeight: 92vh;
$mobileHeight: 60vh;

.landing {
  #searchContainer {
    text-align: left;
    -webkit-animation-duration: $animationSpeed;
    -moz-animation-duration: $animationSpeed;
    -ms-transition-animation-duration: $animationSpeed;
    margin: 0 auto; // left: 28% + width: 44% + right: 28%
    width: 700px;
    height: $geoHeight;
    background-color: #008000;
    position: relative;
    top: $mainHeight/2;
    transform: translateY(-50%);
    border-radius: 10px;

    @media screen and (max-width: 650px) {
      top: $mobileHeight/2;
      #headline {
        h2 {
          display: none;
        }
      }
    }


    #headline {
      position: absolute;
      width: 100%;
      margin-top: -250px;

      h2 {
        margin: 0 auto;
        width: 100%;
        position: absolute;
        //background-color: red;
        text-align: center;
        font-size: 4em;
        letter-spacing: 0.05em;
        color: black;
        span {
          color: #FFA500;
        }
      }
    }

    .search {
      // to sum 700px width: 15 + 40 + 10 + 410 + 10 + 200 + 15
      // to sum 100px height: 15 + 40 + x + 15
      height: $inputHeight;
      //background-color: green;
      position: relative;
      padding: 10px 15px;


      #geolocationButton, #buttonContainer {
        position: relative;
        height: inherit;
        width: 40px;
        display: inline-block;
        //background-color: red;
        Button, #icon {
          position: absolute;
          width: 100%;
          height: 100%;
        }
        a {
          color: inherit;
          text-decoration: none;
        }

        #icon {
          left: 5px;
          top: 7px;
          font-size: 2em;
        }
      }

      #geolocationButton {
        height: 44px;
        margin-bottom: 2px;
      }

      #locationContainer {
        border: 2px solid #003300;
        position: relative;
        height: inherit;
        width: 410px;
        display: inline-block;
        margin: 0 10px;
        background-color: #f2f2f2;
        .autoComplete {
          display: inline-block;
          width: 365px;
          margin: 0;
          padding: 0;
          transform: translateY(-19px);
        }
      }

      #maxDistanceContainer {
        border: 2px solid #003300;
        height: inherit;
        width: 200px;
        display: inline-block;
        background-color: #f2f2f2;
        .distanceDropDownMenu {
          display: inline-block;
          width: 200px - 40px - 4px;
          height: 40px - 2px;
          margin: 0;
          padding: 0;
          transform: translateY(-19px);
          border-radius: 0;
          border: none;
          background: none;
        }
      }

      #submitButton {
        height: 30px;
        width: 350px;
        margin: 5px auto 0 auto;
        //background-color: orange;
        display: block;
        Button {
          width: 100%;
        }
      }
    }

    @media screen and (max-width: 720px) {
      $adjustedWidth: 220px;
      width: 300px;
      height: $geoHeight + 50px;


      .search {
        #locationContainer {
          width: $adjustedWidth;
          margin: 0 0 0 10px;
          .autoComplete {
            width: $adjustedWidth - 40px - 4px;
          }
        }

        #maxDistanceContainer {
          height: inherit;
          width: $adjustedWidth;
          margin-left: 50px; // 10px padding + 40 icon width
          .distanceDropDownMenu {
            width: $adjustedWidth - 40px - 4px;
          }
        }

        #submitButton {
          width: $adjustedWidth;
          margin-left: 50px; // 10px padding + 40 icon width
        }
      }
    }
  }
}