 .landing {
   .threeHighlightsContainer {
     color: #ffdf80;
     display: block;
     width: 100%;
     margin: 0 auto;
     padding: 40px 0;

     @media screen and (max-width: 1200px) {
       padding-bottom: 0;
     }


     #threeHighlights {
       margin: 0 auto;
       width: 80%;
       h1 {
         color: #FFA500;
       }
       .threeHighlightsGrid {
         margin: 40px 0;
         padding: 0;
         width: 100%;
         #threeHighlightsRow {
           // flex method: https://stackoverflow.com/questions/19695784/how-can-i-make-bootstrap-columns-all-the-same-height
           //display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
           display: -webkit-flex; /* Safari 6.1+. iOS 7.1+, BB10 */
           display: -webkit-box;  /* iOS 6-, Safari 3.1-6, BB7 */
           display: -moz-box;
           display: -ms-flexbox;  /* IE 10 */
           flex-wrap: wrap;
           padding: 0;
           margin: 0;
           #smallScreenHeadline {
             margin-bottom: 40px;
             font-size: 2.5em;
           }

           p {
             width: 75%;
             margin: 25px auto 10px auto;
             letter-spacing: 0.1em;
           }
           h2 {
             margin-top: 10px;
             font-size: 1.75em;
             font-weight: 600;
           }

           #smallScreenHeadline {
             display: none;
           }
           @media screen and (max-width: 1200px) {
             #smallScreenHeadline {
               display: block;
             }

             #largerScreenHeadline {
               display: none;
             }
          }
         }
       }
     }
   }
 }