.header {
  nav {
    border-radius: 0;
    margin-bottom: 0;
    font-size: 1.25em;
    div > div.navbar-collapse.collapse > ul {
      li > a {
        color: #f2f2f2;
      }
      li > a:hover {
        color: #bfbfbf;
        background-color: #003300;
      }
    }
  }

  .headerContainer {
    background: url("https://s3.amazonaws.com/solarjobsearch/textureGreenBG.png") #284700;
    border: none;
    height: 50px;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
    a {
      color: #f2f2f2;
      #color2Logo {
        display: none;
      }
    }

    a:hover {
      #color1Logo {
        display: none;
      }
      #color2Logo {
        display: block;
      }
    }
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: #003300;
}