$mainHeight: 88vh;
$animationSpeed: 2s;
$geoHeight: 48px;
$inputHeight: 40px;

.landing {
  .mainJumbotron {
    height: $mainHeight;
    position: relative;

    #headline {
      h1 {
        margin: 10vh auto 0 auto;
        width: 100%;
        position: absolute;
        background-color: red;
        text-align: center;
        font-size: 4em;
        letter-spacing: 0.05em;
      }
    }

    #searchContainer {
      -webkit-animation-duration: $animationSpeed;
      -moz-animation-duration: $animationSpeed;
      -ms-transition-animation-duration: $animationSpeed;
      margin: 0 28%; // left: 28% + width: 44% + right: 28%
      width: 44%;
      height: $geoHeight;
      background-color: purple;
      position: absolute;
      top: $mainHeight/2;
      transform: translateY(-50%);
      border-radius: 10px;
      #search {
        height: 40px;
        //background-color: green;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        padding-left: 1em;

        #homeIcon {
          display: inline-block;
          height: $inputHeight;
        }

        #updateLocation {
          background-color: green;
          width: 70%;
          height: $inputHeight;
          .placeAutoComplete {
          }
        }

        #updateMaxDistance {
          border: 2px solid blue;
          right: 0;
          margin-right: 1em;
        }
      }
    }
  }

  .mainJumbotron::before {
    height: $mainHeight;
    position: absolute;
    background: url('https://i.imgur.com/YWabzcb.jpg') no-repeat center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
    content: '';
  }


  #additionalContent {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    color: #f2f2f2;


    div.row {
      padding: 0;
      margin: 0;
    }

    h1 {
      margin: 10px 0;
      text-align: center;
    }

    // more specific styling is in TBD
    .learnMore {
      min-height: 575px; //match
      font-size: 1.2em;
      text-align: center;
      background-color: #404040;
      border-top: 8px solid green;
      border-right: 8px solid orange;
      p {
        margin: 0 auto;
        width: 80%;
      }

      Button {
        margin: 10px 0;
        width: 200px;
      }

    }

    // more specific styling is in _rssFeed.scss file
    .rssFeed {
      min-height: 575px; //match
      background-color: #9494b8;
      border-top: 8px solid navy;
      border-left: 8px solid orange;
    }

  }


}