$mainHeight: 88vh;

.landing {
  .mainJumbotron {
    height: $mainHeight;
    position: relative;
    #searchContainer {
      margin: 0 25%; // left: 25% + width: 50% + right: 25%
      width: 50%;
      height: 300px;
      background-color: red;
      position: absolute;
      top: $mainHeight/2;
      transform: translateY(-50%);
      border-radius: 20px;
      #search {
        height: 50px;
        background-color: green;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .mainJumbotron::before {
    height: $mainHeight;
    position: absolute;
    background: url('https://i.imgur.com/YWabzcb.jpg') no-repeat center;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.7;
    z-index: -1;
    content: '';
  }


  #additionalContent {
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    color: #f2f2f2;


    div.row {
      padding: 0;
      margin: 0;
    }

    h1 {
      margin: 10px 0;
      text-align: center;
    }

    #learnMore {
      min-height: 400px;
      font-size: 1.2em;
      text-align: center;
      background-color: #404040;
      border-top: 8px solid green;
      border-right: 8px solid orange;
      p {
        margin: 0 auto;
        width: 80%;
      }
    }

    #rssFeed {
      min-height: 400px;
      background-color: blue;
      border-top: 8px solid navy;
      border-left: 8px solid orange;
    }

  }


}