.header nav {
  border-radius: 0;
  margin-bottom: 0; }

.landing .mainJumbotron {
  height: 88vh;
  position: relative; }
  .landing .mainJumbotron #searchContainer {
    margin: 0 25%;
    width: 50%;
    height: 300px;
    background-color: red;
    position: absolute;
    top: 44vh;
    transform: translateY(-50%);
    border-radius: 20px; }
    .landing .mainJumbotron #searchContainer #search {
      height: 50px;
      background-color: green;
      position: relative;
      top: 50%;
      transform: translateY(-50%); }

.landing .mainJumbotron::before {
  height: 88vh;
  position: absolute;
  background: url("https://i.imgur.com/YWabzcb.jpg") no-repeat center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.7;
  z-index: -1;
  content: ''; }

.landing #additionalContent {
  width: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  color: #f2f2f2; }
  .landing #additionalContent div.row {
    padding: 0;
    margin: 0; }
  .landing #additionalContent h1 {
    margin: 10px 0;
    text-align: center; }
  .landing #additionalContent #learnMore {
    min-height: 400px;
    font-size: 1.2em;
    text-align: center;
    background-color: #404040;
    border-top: 8px solid green;
    border-right: 8px solid orange; }
    .landing #additionalContent #learnMore p {
      margin: 0 auto;
      width: 80%; }
  .landing #additionalContent #rssFeed {
    min-height: 400px;
    background-color: blue;
    border-top: 8px solid navy;
    border-left: 8px solid orange; }

* {
  margin: 0;
  padding: 0;
  border: 0;
  max-width: 100%; }

h1, h2, h3, h4 {
  margin: 0;
  padding: 0; }
