// Google Maps modal styling
#googleMapFrame {
  height: 50vh;
}

@media screen and (max-width: 500px) {
  #googleMapFrame {
    height: 40vh;
  }
}

body > div:nth-child(4) > div.fade.googleMapsModal.in.modal > div > div {
  .modal-header {
    background-color: #cccccc;

    #companyName {
      font-size: 1.3em;
    }
    #datePosted {
      text-decoration: overline;
    }
  }
  .modal-footer {
    background-color: #cccccc;

    #jobSummary {
      left: 0;
      position: absolute;
      text-align: left;
      margin-left: 15px;
    }
    Button {
      margin-top: 50px;
      width: 30%;
      border-radius: 8px;
      a {
        color: inherit;
      }
    }
  }
}