.jobResults {
  #jobTable {
    margin-top: 20px;
    float: left;
    max-width: 875px;
    width: 70%;

    #jobLocation {
      cursor: pointer;
      color: #337ab7;
    }


    #pager {
      //background-color: red;
      margin-bottom: 30px;
      display: block;
      position: relative;
      width: 100%;
      clear: both;
      div {
        //background-color: gray;
        padding-top: 40px;
        width: 50%;
        margin: 0 auto;
        text-align: center;
        font-size: 0.75em;
        ul {
          //background-color: green;
          position: absolute;
          left: 50%;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }

  @media screen and (max-width: 1275px) {
    #jobTable {
      width: 59%;
      max-width: none;
    }
  }

  @media screen and (max-width: 995px) {
    #jobTable {
      width: 100%;
      max-width: none;
    }
  }

  @media screen and (max-width: 575px) {
    #pager {
      div {
        width: 100%;
        ul {
          margin-left: 11%;
          width: 100%;
        }
      }
    }
  }
}