$geoHeight: 48px;

.jobResults {
  .modifyJobSearch {
    padding-top: 20px;

    #overflowBG {
      position: absolute;
      margin-top: -20px;
      height: 155px;
      width: 100%;
      background-color: #FFA500;
      /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */

      left: 0;
      //https://www.cssmatic.com/box-shadow
      -webkit-box-shadow: -6px 32px 32px -17px rgba(150,147,102,1);
      -moz-box-shadow: -6px 32px 32px -17px rgba(150,147,102,1);
      box-shadow: -6px 32px 32px -17px rgba(150,147,102,1);

      @media screen and (max-width: 900px) {
        height: 180px;
      }

      @media screen and (max-width: 565px) {
        height: 230px;
      }
    }

    .geoUpdateContainer {
      display: block;
      margin-top: 5px;
      z-index: 100;
      position: relative;
      //background-color: red;
      max-width: 875px;
      width: 70%;

      #updateLocation {
        position: relative;
        height: $geoHeight;
      }

      #updateMaxDistance {
      }

      @media screen and (max-width: 1000px) {
        #updateMaxDistance {
          margin-left: 5px;
        }
      }
    }
  }
}